.inline{
    display:inline-block;
    flex-direction: row;
    justify-content: space-evenly;
}
.displayFlex{
    display: flex;
    align-items: center;
    padding: 1% 2% 1% 2%;
}
#searchBar{
    border-bottom: none !important;
    text-align: center;
    font-size: 1.5rem;
}
#searchBarContainer{
   

}
#searchContainer{
    border: 1px solid #153357;
    border-radius:10px;
    margin-top:4rem
}
#contactsView{
    margin-top: 1rem;
    padding-left: 4%;
    padding-right:4%;
    position: relative;
}
#mainPageLoader{
    background-color: white;
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 98%;
    z-index: 5;
}
#searchBox{
    position: absolute;
    z-index: 4;
    width: 100%;
    background-color: white;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: -5px;
    padding-top: 1%;
    padding-left: 1%;
    padding-right:1%
}